services:
  frontend:
    build: ./frontend
    ports:
      - "4200:80"
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build: ./backend
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - NODE_ENV=production
    depends_on:
      - redis
    volumes:
      - ./backend/uploads:/usr/src/app/uploads
      - ./backend/temp:/usr/src/app/temp
    networks:
      - app-network

  worker:
    build: ./backend
    env_file:
      - ./backend/.env
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - NODE_ENV=production
      - GOOGLE_APPLICATION_CREDENTIALS=/usr/src/app/googlekeyfortranslate.json
    command: node dist/workers/index.js
    depends_on:
      - redis
    volumes:
      - ./backend/uploads:/usr/src/app/uploads
      - ./backend/temp:/usr/src/app/temp
      - ./backend/googlekeyfortranslate.json:/usr/src/app/googlekeyfortranslate.json
    networks:
      - app-network

  redis:
    image: redis:latest
    ports:
      - "6379:6379" # optional (for local debug)
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
